figure {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: 1px 1px 15px -2px rgba(13, 0, 0, 0.25);
  margin-bottom: 15px;
}

.dice-1 {
  background-image: url("./images/dice-1.png");
}
.dice-2 {
  background-image: url("./images/dice-2.png");
}
.dice-3 {
  background-image: url("./images/dice-3.png");
}
.dice-4 {
  background-image: url("./images/dice-4.png");
}
.dice-5 {
  background-image: url("./images/dice-5.png");
}
.dice-6 {
  background-image: url("./images/dice-6.png");
}
